__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.venv/
venv/
ENV/

.ipynb_checkpoints

runs/
.cache/
hf_cache/

.DS_Store
Thumbs.db

models/
data/raw/
data/cache/
data/dataset.txt

.env
